{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/new.css'filter='cssrewrite' %}

    <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="addtaskform">
        <h1>Add new task</h1>

        <div class="formcomp"> {{ form_start(form) }}
            {{ form_row(form.name, {'label': 'Name'}) }}
            {{ form_row(form.descriere, {'label': 'Description'}) }}
            {{ form_row(form.deadline, {'label': 'Data'}) }}
            {{ form_row(form.autor, {'label': 'Author'}) }}
            {{ form_row(form.executor, {'label': 'Executor'}) }}
            {{ form_row(form.prioritate, {'label': 'Priority'}) }}
        </div>

        {{ form_end(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
{% endblock %}
