{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/new.css'filter='cssrewrite' %}

    <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="addtaskform">
        <h1 id="addnewtasktitle">Add new task</h1>

        {{ form_start(form) }}
            <div class="formcomp"> {{ form_row(form.name, {'label': 'Name:'}) }} </div>
            <div class="formcomp"> {{ form_row(form.descriere, {'label': 'Description:'}) }} </div>
            <div class="formcomp"> {{ form_row(form.deadline, {'label': 'Data:'}) }} </div>
            <div class="formcomp"> {{ form_row(form.autor, {'label': 'Author:'}) }} </div>
            <div class="formcomp"> {{ form_row(form.executor, {'label': 'Executor:'}) }} </div>
            <div class="formcomp"> {{ form_row(form.prioritate, {'label': 'Priority:'}) }} </div>
        <input class="btn btn-primary" id="createbutton" type="submit" value="Create" />

        {{ form_end(form) }}
    </div>
{% endblock %}
